* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	background: url("../images/map.jpg") fixed;
  font-family: 'Rye';
  font-size: 1rem;
  font-weight: normal;
	overflow-x: hidden;
  position: relative;
  overflow-y: auto;
  height: 100%;
}

.container-fluid { 
  margin-right: 0;
  margin-left: 0;
	--bs-gutter-x: 0;
	--bs-gutter-y: 0;
	padding-right: 0;
	padding-left: 0;
}
.wrapper {
	width: 80%;
	margin: auto;
}
.primary-color {
  background-color: #fff6ed;
  color: #6D4217;
}
.primary-color-dark {
  background-color: #6D4217;
  color:  #fff6ed;
}
.primary-color-dark:hover {
  background-color: #fff6ed;
  color: #6D4217;
}
.primary-color:hover {
  background-color: #6D4217;
  color: #fff6ed;
}


.navigation, .footer {
  background-color: #6D4217;
  box-shadow: 1px 1px 10px rgba(198, 112, 25 , 1);
}
.navbar {
  width: 80%;
  margin: auto;
}
.navbar-brand img {
  height: 50px;
}
.navbar-nav {
	/* width: 60%; */
	justify-content: space-between;
}
.nav-item > a  {
  padding: 1.5rem;
  text-decoration: none;
	color: white;
}
.nav-item a:hover {
	text-decoration: underline #E1B680 solid 5px;
}

.landing {
  background: url("../images/bg3.png") no-repeat;
  background-position: center right;
  background-size: cover;
  height: 90vh;
  padding-top: 20vh;
}


.about-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  background-color: #E1B47F;
}
.about-content {
  padding: 3rem 3rem;
  line-height: 1.6;
  font-size: clamp(0.6rem, 0.9rem, 1.5rem); 
  font-family: 'Rye';
  text-align: justify;
}
.about-content > p > span, .ships-heading {
  font-size: clamp(1rem, 2rem, 2.5rem); 
  color: #4d0000;
}
.card {
  margin: auto;
  font-size: clamp(0.5rem, 0.9rem, 1.5rem); 
  width: 90%;
  height: 100%;
  background-color: #e2c6a5;
  border: solid 2px #4D0000;
  border-radius: 20px;
}
.card-img-top {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 60% 60%;
}

.modal-wrapper  > img {
  display: flex;
  justify-content: center;
  height: inherit;
  margin: 0 auto;
}
.gallery-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col {
  padding: 0 0.2rem;
  flex: 0 1 150px;
  margin: 5px;
}
.col > a {
  display: flex;
  background-color: #c14937;
  border: 5px double #6D4217;
}
.gallery-img {
  object-fit:cover;
  width: 100%;
  height: 415px;
}



.bounties-row {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}
.bounties-img {
  margin: 1rem auto;
  padding: 0px;
  width: 14rem;
  border: 15px outset #D05112;
}

.col-lg-4 {
  display: flex;
  flex-direction: column;
}
.contact-wrapper {
  background-color: #E1B680;
  margin: 1rem auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.contact-hr {
  height: 3px;
  background-color: #6D4217;
}
.contact-img {
	width: 100px;
}
.form-group {
  padding: 0.75rem 0;
}

.embed > iframe {
  width: clamp(100%, 100%, 100%);
}


.footer-hr {
  height: 3px;
  background-color: #fff6ed;
}
.fab {
  color: #6D4217;
  background-color: #fff6ed;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid rgba(255, 246, 237 1);
  border-radius: 100px;
}
.fab:hover {
  color: #fff6ed;
  background-color: #6D4217;
  border: 1px solid #fff6ed;
}


@media (max-width: 768px) {
  li.nav-item {
    padding: 0.75rem 0;
  }
  .nav-item > a  {
    padding-left: 0px;
  }
  .landing {
    background-position: center left;
  }
  .about-content {
    padding: 1.5rem 1.5rem;
  }
  .modal-dialog {
    height: auto;
  }
  .col-lg-6:nth-child(2):before, .col-lg-4:nth-child(1):after, .col-lg-4:nth-child(2):after {
    display: block;
    content: '';
    height: 2rem;
  }
}